.spacer {
    flex: 1 1 auto;
}


/* .snav-container {
    height: 50vh;
} */

.sidenav-size {
    height: 88vh;
}

.title {
    position: absolute;
    left: 45%;
    margin-left: -50px !important;
    /* 50% of your logo width */
    display: block;
}

.add-listing {
    background-color: darkslategrey;
}