.hero {
    background-image: url('https://static.nationalgeographic.co.uk/files/styles/image_1900/public/tripsofalifetime_AWL_US04507_HR2_WEB.jpg') !important;
    background-size: cover;
    background-position: center center;
}

.container {
    height: 50vh;
    text-align: center;
}

.quickSearch {
    text-align: center;
}

.quickSearchLookup {
    height: 2.5rem;
    width: 45vw;
    font-size: 1rem;
    display: inline-block;
}