.spacer {
    flex: 1 1 auto;
}


/* .snav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

.sidenav-size {
    height: 88vh;
}

.title {
    position: absolute;
    left: 45%;
    margin-left: -50px !important;
    /* 50% of your logo width */
    display: block;
}

.add-listing {
    background-color: darkslategrey;
}