<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon><span>Menu</span></button>
        <div class="logo-spacer"></div>
        <a class="title" routerLink="/home" mat-button>
            <h1>Company Logo</h1>
        </a>
        <span class="spacer"></span>
        <a routerLink="/register" mat-button>Register</a>/<a routerLink="/login" mat-button>Login</a>
        <button class="add-listing" mat-stroked-button>Add Listing</button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item routerLink="/home">View Listings</a>
            <a mat-list-item routerLink="/home">Create Listing</a>
            <a mat-list-item routerLink="/home">Edit Listings</a>
            <a mat-list-item routerLink="/home">Make me a Sandwich</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="sidenav-size">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>