<div class="navbar navbar-default">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Company Logo</span>
            <a class="mat-focus-indicator" routerLink="/home" mat-button mat-button-base>Button 1</a>
            <a class="mat-focus-indicator" routerLink="/" mat-button>Button 2</a>
            <span class="spacer"></span>
            <!-- <mat-icon aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
        </mat-toolbar-row>